
h1{
  color: cornflowerblue;
  background-color: rgb(222, 194, 95);
  font-size: 40px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif ;
  text-align: center;
}
p{
  color: darkcyan;
  background-color: beige;
  text-align: right;
  line-height: 30px;
  letter-spacing: 2px;
  column-count: 3;
  column-gap: 30px;
}
ul{
    /* border-width: 3px;
    border-style: double;
    border-color: darkmagenta; */
    border: 3px double darkmagenta;
    border-left: 8px dashed crimson;
}
li{
    list-style-type: square ;
    text-shadow: 2px 2px rgb(189, 186, 186);
}

div{
    color: blueviolet;
    margin: 20px;
}